
<%- include ('../layout/header.ejs') %>

  <section class="h-100" style="background-color: #ffffff;">
    <div class="container-lg h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black "
            style="border-radius: 25px;background-image: url(productimages/login.jpg);background-size: cover;">
            <div class="card-body p-md-5">
              <div class="row d-flex justify-content-center align-items-center">
                <div>
                  <svg width="190" height="38" viewBox="0 0 190 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="93" height="32" fill="white" />
                    <path
                      d="M31.952 12.616C31.8773 12.5413 31.7387 12.44 31.536 12.312C31.344 12.184 31.104 12.0613 30.816 11.944C30.5387 11.8267 30.2347 11.7253 29.904 11.64C29.5733 11.544 29.2373 11.496 28.896 11.496C28.2987 11.496 27.8453 11.608 27.536 11.832C27.2373 12.056 27.088 12.3707 27.088 12.776C27.088 13.0853 27.184 13.3307 27.376 13.512C27.568 13.6933 27.856 13.848 28.24 13.976C28.624 14.104 29.104 14.2427 29.68 14.392C30.4267 14.5733 31.072 14.7973 31.616 15.064C32.1707 15.32 32.592 15.6613 32.88 16.088C33.1787 16.504 33.328 17.0587 33.328 17.752C33.328 18.36 33.216 18.8827 32.992 19.32C32.768 19.7467 32.4587 20.0933 32.064 20.36C31.6693 20.6267 31.2213 20.824 30.72 20.952C30.2187 21.0693 29.6853 21.128 29.12 21.128C28.5547 21.128 27.9893 21.0693 27.424 20.952C26.8587 20.8347 26.3147 20.6693 25.792 20.456C25.2693 20.232 24.7893 19.9653 24.352 19.656L25.328 17.752C25.424 17.848 25.5947 17.976 25.84 18.136C26.0853 18.2853 26.384 18.44 26.736 18.6C27.088 18.7493 27.472 18.8773 27.888 18.984C28.304 19.0907 28.7253 19.144 29.152 19.144C29.7493 19.144 30.2027 19.0427 30.512 18.84C30.8213 18.6373 30.976 18.3493 30.976 17.976C30.976 17.6347 30.8533 17.368 30.608 17.176C30.3627 16.984 30.0213 16.8187 29.584 16.68C29.1467 16.5307 28.6293 16.3707 28.032 16.2C27.3173 15.9973 26.72 15.7733 26.24 15.528C25.76 15.272 25.4027 14.952 25.168 14.568C24.9333 14.184 24.816 13.704 24.816 13.128C24.816 12.3493 24.9973 11.6987 25.36 11.176C25.7333 10.6427 26.2347 10.2427 26.864 9.976C27.4933 9.69867 28.192 9.56 28.96 9.56C29.4933 9.56 29.9947 9.61867 30.464 9.736C30.944 9.85333 31.392 10.008 31.808 10.2C32.224 10.392 32.5973 10.6 32.928 10.824L31.952 12.616ZM44.5485 9.64V21H42.3565V16.152H37.2045V21H34.9965V9.64H37.2045V14.232H42.3565V9.64H44.5485ZM51.7664 21.08C50.9344 21.08 50.177 20.92 49.4944 20.6C48.8224 20.28 48.241 19.848 47.7504 19.304C47.2704 18.7493 46.897 18.1307 46.6304 17.448C46.3637 16.7547 46.2304 16.0453 46.2304 15.32C46.2304 14.5627 46.369 13.8427 46.6464 13.16C46.9344 12.4667 47.3237 11.8533 47.8144 11.32C48.3157 10.776 48.9024 10.3493 49.5744 10.04C50.257 9.72 51.0037 9.56 51.8144 9.56C52.6357 9.56 53.3824 9.72533 54.0544 10.056C54.737 10.3867 55.3184 10.8293 55.7984 11.384C56.2784 11.9387 56.6517 12.5573 56.9184 13.24C57.185 13.9227 57.3184 14.6267 57.3184 15.352C57.3184 16.0987 57.1797 16.8187 56.9024 17.512C56.625 18.1947 56.2357 18.808 55.7344 19.352C55.2437 19.8853 54.657 20.3067 53.9744 20.616C53.3024 20.9253 52.5664 21.08 51.7664 21.08ZM48.4704 15.32C48.4704 15.8107 48.545 16.2853 48.6944 16.744C48.8437 17.2027 49.057 17.6133 49.3344 17.976C49.6224 18.328 49.969 18.6107 50.3744 18.824C50.7904 19.0267 51.2597 19.128 51.7824 19.128C52.3157 19.128 52.7904 19.0213 53.2064 18.808C53.6224 18.584 53.969 18.2907 54.2464 17.928C54.5237 17.5547 54.7317 17.144 54.8704 16.696C55.0197 16.2373 55.0944 15.7787 55.0944 15.32C55.0944 14.8293 55.0144 14.36 54.8544 13.912C54.705 13.4533 54.4864 13.048 54.1984 12.696C53.921 12.3333 53.5744 12.0507 53.1584 11.848C52.753 11.6347 52.2944 11.528 51.7824 11.528C51.2384 11.528 50.7584 11.64 50.3424 11.864C49.937 12.0773 49.5957 12.3653 49.3184 12.728C49.041 13.0907 48.8277 13.496 48.6784 13.944C48.5397 14.392 48.4704 14.8507 48.4704 15.32ZM66.9001 19.064V21H59.0121V9.64H66.7561V11.576H61.2201V14.312H66.0041V16.104H61.2201V19.064H66.9001Z"
                      fill="black" />
                    <path
                      d="M105.952 12.616C105.877 12.5413 105.739 12.44 105.536 12.312C105.344 12.184 105.104 12.0613 104.816 11.944C104.539 11.8267 104.235 11.7253 103.904 11.64C103.573 11.544 103.237 11.496 102.896 11.496C102.299 11.496 101.845 11.608 101.536 11.832C101.237 12.056 101.088 12.3707 101.088 12.776C101.088 13.0853 101.184 13.3307 101.376 13.512C101.568 13.6933 101.856 13.848 102.24 13.976C102.624 14.104 103.104 14.2427 103.68 14.392C104.427 14.5733 105.072 14.7973 105.616 15.064C106.171 15.32 106.592 15.6613 106.88 16.088C107.179 16.504 107.328 17.0587 107.328 17.752C107.328 18.36 107.216 18.8827 106.992 19.32C106.768 19.7467 106.459 20.0933 106.064 20.36C105.669 20.6267 105.221 20.824 104.72 20.952C104.219 21.0693 103.685 21.128 103.12 21.128C102.555 21.128 101.989 21.0693 101.424 20.952C100.859 20.8347 100.315 20.6693 99.792 20.456C99.2693 20.232 98.7893 19.9653 98.352 19.656L99.328 17.752C99.424 17.848 99.5947 17.976 99.84 18.136C100.085 18.2853 100.384 18.44 100.736 18.6C101.088 18.7493 101.472 18.8773 101.888 18.984C102.304 19.0907 102.725 19.144 103.152 19.144C103.749 19.144 104.203 19.0427 104.512 18.84C104.821 18.6373 104.976 18.3493 104.976 17.976C104.976 17.6347 104.853 17.368 104.608 17.176C104.363 16.984 104.021 16.8187 103.584 16.68C103.147 16.5307 102.629 16.3707 102.032 16.2C101.317 15.9973 100.72 15.7733 100.24 15.528C99.76 15.272 99.4027 14.952 99.168 14.568C98.9333 14.184 98.816 13.704 98.816 13.128C98.816 12.3493 98.9973 11.6987 99.36 11.176C99.7333 10.6427 100.235 10.2427 100.864 9.976C101.493 9.69867 102.192 9.56 102.96 9.56C103.493 9.56 103.995 9.61867 104.464 9.736C104.944 9.85333 105.392 10.008 105.808 10.2C106.224 10.392 106.597 10.6 106.928 10.824L105.952 12.616ZM117.493 11.576H113.861V21H111.669V11.576H108.037V9.64H117.493V11.576ZM123.719 21.08C122.812 21.08 122.039 20.9307 121.399 20.632C120.769 20.3227 120.257 19.9013 119.863 19.368C119.479 18.8347 119.196 18.232 119.015 17.56C118.833 16.8773 118.743 16.168 118.743 15.432V9.64H120.951V15.432C120.951 15.9013 120.993 16.36 121.079 16.808C121.175 17.2453 121.329 17.64 121.543 17.992C121.756 18.344 122.039 18.6213 122.391 18.824C122.743 19.0267 123.18 19.128 123.703 19.128C124.236 19.128 124.679 19.0267 125.031 18.824C125.393 18.6107 125.676 18.328 125.879 17.976C126.092 17.624 126.247 17.2293 126.343 16.792C126.439 16.344 126.487 15.8907 126.487 15.432V9.64H128.679V15.432C128.679 16.2107 128.583 16.9413 128.391 17.624C128.209 18.3067 127.916 18.9093 127.511 19.432C127.116 19.944 126.604 20.3493 125.975 20.648C125.345 20.936 124.593 21.08 123.719 21.08ZM130.903 21V9.64H135.031C136.268 9.64 137.303 9.896 138.135 10.408C138.967 10.9093 139.591 11.592 140.007 12.456C140.423 13.3093 140.631 14.2587 140.631 15.304C140.631 16.456 140.401 17.4587 139.943 18.312C139.484 19.1653 138.833 19.8267 137.991 20.296C137.159 20.7653 136.172 21 135.031 21H130.903ZM138.407 15.304C138.407 14.568 138.273 13.9227 138.007 13.368C137.74 12.8027 137.356 12.3653 136.855 12.056C136.353 11.736 135.745 11.576 135.031 11.576H133.111V19.064H135.031C135.756 19.064 136.369 18.904 136.871 18.584C137.372 18.2533 137.751 17.8053 138.007 17.24C138.273 16.664 138.407 16.0187 138.407 15.304ZM142.356 21V9.64H144.564V21H142.356ZM151.782 21.08C150.95 21.08 150.193 20.92 149.51 20.6C148.838 20.28 148.257 19.848 147.766 19.304C147.286 18.7493 146.913 18.1307 146.646 17.448C146.379 16.7547 146.246 16.0453 146.246 15.32C146.246 14.5627 146.385 13.8427 146.662 13.16C146.95 12.4667 147.339 11.8533 147.83 11.32C148.331 10.776 148.918 10.3493 149.59 10.04C150.273 9.72 151.019 9.56 151.83 9.56C152.651 9.56 153.398 9.72533 154.07 10.056C154.753 10.3867 155.334 10.8293 155.814 11.384C156.294 11.9387 156.667 12.5573 156.934 13.24C157.201 13.9227 157.334 14.6267 157.334 15.352C157.334 16.0987 157.195 16.8187 156.918 17.512C156.641 18.1947 156.251 18.808 155.75 19.352C155.259 19.8853 154.673 20.3067 153.99 20.616C153.318 20.9253 152.582 21.08 151.782 21.08ZM148.486 15.32C148.486 15.8107 148.561 16.2853 148.71 16.744C148.859 17.2027 149.073 17.6133 149.35 17.976C149.638 18.328 149.985 18.6107 150.39 18.824C150.806 19.0267 151.275 19.128 151.798 19.128C152.331 19.128 152.806 19.0213 153.222 18.808C153.638 18.584 153.985 18.2907 154.262 17.928C154.539 17.5547 154.747 17.144 154.886 16.696C155.035 16.2373 155.11 15.7787 155.11 15.32C155.11 14.8293 155.03 14.36 154.87 13.912C154.721 13.4533 154.502 13.048 154.214 12.696C153.937 12.3333 153.59 12.0507 153.174 11.848C152.769 11.6347 152.31 11.528 151.798 11.528C151.254 11.528 150.774 11.64 150.358 11.864C149.953 12.0773 149.611 12.3653 149.334 12.728C149.057 13.0907 148.843 13.496 148.694 13.944C148.555 14.392 148.486 14.8507 148.486 15.32Z"
                      fill="#545252" />
                  </svg>

                </div>


                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                  <p id="heading" class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Login</p>
                  <p style="size: 10px; font-style: poppins;text-align: center;color: #484747;">Please enter login
                    details below</p>

                  <form class="mx-1 mx-md-4" action="/home" method="post">
                    <div class="d-flex flex-row align-items-center mb-4">
                      <!-- <i class="fas fa-user fa-lg me-3 fa-fw"></i> -->

                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <!-- <i class="fas fa-envelope fa-lg me-3 fa-fw"></i> -->
                      <div class="form-outline flex-fill mb-0">

                        <input placeholder="Email" type="email" id="inputfield" class="form-control" name="email" />

                      </div>
                
                    </div>




                    <div class="d-flex flex-row align-items-center mb-4">
                      <!-- <i class="fas fa-lock fa-lg me-3 fa-fw"></i> -->
                      <div class="form-outline flex-fill mb-0">

                        <input placeholder="Password" type="password" id="inputfield" class="form-control"
                          name="password" />

                      </div>
                    </div>



                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="submit" class="btn btn-primary btn-lg"
                        style="border-radius: 27px; background-color: black;color: white;border: none; width: 133px; height: 55px;">Login</button>
                    </div>

                    <div style="text-align: center;"><a style="color: #ffffff; text-decoration: none;" href="/register">Create an account</a></div>
                    <div style="text-align: center;"><a style="color: #ffffff; text-decoration: none;" href="/otp">Otp login</a></div>
                    <div>
                     <div style="display: flex; justify-content: center;"> <small class="text-danger"><b><%= message %></b></small></div>
                    </div>


                  </form>

                  <!-- registration sucessfull -->
                  <div style="text-align: center;">
                    
           
     
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>




  <%- include ('../layout/footer.ejs') %>